name: Docker Publish
on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  publish:
    if: >
      ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_UNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set Docker tag(s)
        id: vars
        run: |
          # Branch or tag name
          REF_NAME="${{ github.event.workflow_run.head_branch || github.event.workflow_run.head_tag }}"
          SAFE_TAG=$(echo "$REF_NAME" | tr '[:upper:]' '[:lower:]' | tr '/' '-')

          echo "VERSION_TAG=$SAFE_TAG" >> $GITHUB_ENV

          # Set "latest" tag only if branch is main
          if [[ "$SAFE_TAG" == "main" ]]; then
            echo "IS_MAIN=true" >> $GITHUB_ENV
          else
            echo "IS_MAIN=false" >> $GITHUB_ENV
          fi

      - name: Build and push multi-arch Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ secrets.DOCKER_UNAME }}/geoip-auth:${{ env.VERSION_TAG }}
            ${{ secrets.DOCKER_UNAME }}/geoip-auth${{ env.IS_MAIN == 'true' && format(':{0}', 'latest') || '' }}
          labels: |
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.created=${{ github.event.repository.pushed_at }}
            org.opencontainers.image.source=${{ github.repository }}
            org.opencontainers.image.version=${{ env.VERSION_TAG }}
